.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #BBE1FA;
}

.split-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: #3282B8; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 600px;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.website-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.login-container form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(32, 48, 58, 0.549);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  min-height: 400px; /* Use min-height instead of fixed height */
}


.login-container h1 {
  font-size: 28px;
  color: #0F4C75;
}

.login-container input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 35px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
  color: #000000;
  background-color: #eaf0fe;
}

.login-container input:focus {
  border-color: #3282B8;
}

.login-container button {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  color: #fff;
  background-color: #3282B8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-container button:hover {
  background-color: #1B262C;
  color: #BBE1FA;
}

.forgot-password-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  color: #0F4C75;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password-link:hover {
  text-decoration: underline;
  color: #1B262C;
}

.signup-link {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #0F4C75;
  text-align: center;
}

.signup-link a {
  text-decoration: none;
  color: #0F4C75;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
  color: #1B262C;
}

.login-image-container {
  flex: 1;
  background-image: url('/images/LoginImage.png');
  background-size: cover;
  height: auto;
}

@media (max-width: 800px) {
  .split-container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .login-container {
    padding: 15px;
  }
  .login-image-container{
    display: none;
  }
}
