.transaction-content-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #112d4e; 
  background-color: #f9f7f7; 
  border-radius: 8px;
}

.transaction-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #dbe2ef; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-h2 {
  font-size: 1.9rem;
  color: #112d4e;
  font-weight: 600;
  margin: 0;
}

.transaction-buttons button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button Styles */
.transaction-buttons button:first-child {
  background-color: #3f72af;
  color: #f9f7f7;
}

.transaction-buttons button:first-child:hover {
  background-color: #112d4e;
  color: #dbe2ef; 
  transform: scale(1.05);
}

.transaction-buttons button:first-child:active {
  background-color: #3f72af;
  transform: scale(1);
}

.transaction-buttons button:last-child {
  background-color: #112d4e;
  color: #dbe2ef;
}

.transaction-buttons button:last-child:hover {
  background-color: #3f72af; 
  color: #f9f7f7; 
  transform: scale(1.05);
}

.transaction-buttons button:last-child:active {
  background-color: #112d4e;
  color: #f9f7f7;
  transform: scale(1);
}

/* Deposit Form Modal Styling */
.deposit-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.deposit-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.deposit-form h3 {
  margin-bottom: 20px;
  color: #112d4e;
}

/* Cross button styling for Deposit Form */
.deposit-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #3f72af;
  transition: color 0.3s ease;
}

.deposit-close-btn:hover {
  color: #112d4e;
}

.deposit-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbe2ef;
  border-radius: 5px;
}

.deposit-form button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #3f72af;
  color: #ffffff;
  cursor: pointer;
}

.deposit-form button:hover {
  background-color: #112d4e;
}

/* Button animation for smooth interaction */
.deposit-form button:active {
  transform: scale(0.98);
}

.send-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.send-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.send-form h3 {
  margin-bottom: 20px;
  color: #112d4e;
}

/* Cross button styling */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #3f72af;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #112d4e;
}

.send-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbe2ef;
  border-radius: 5px;
}

.send-form button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #3f72af;
  color: #ffffff;
  cursor: pointer;
}

.send-form button:hover {
  background-color: #112d4e;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}
.transaction-list-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #dbe2ef; 
  border-radius: 8px;
  background-color: #ffffff;
}

.transaction-item {
  padding: 15px;
  background-color: #f9f7f7; 
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.transaction-item:hover {
  background-color: #dbd8e0; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.transaction-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  font-size: 1rem;
  color: #3f72af; 
}

.transaction-item-label {
  font-weight: bold;
  margin-right: 10px; 
  width: 120px;
}

.no-transaction {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-transaction-image {
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.no-transaction p {
  color: #112d4e;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 0;
  transition: transform 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;
}

.no-transaction p:hover {
  transform: scale(1.1);
  color: #3f72af;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.transaction-search {
  margin-right: 10px;
}

.search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #dbe2ef;
  border-radius: 5px;
  width: 400px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  box-shadow: 0 0 5px rgba(63, 114, 175, 0.5);
  border-color: #3f72af;
}


/* Media Query for medium devices (tablets, 600px - 992px) */
@media (max-width: 992px) {
  .transaction-content-container {
    padding: 15px;
  }

  .transaction-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .transaction-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .transaction-buttons button {
    margin: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .transaction-list .transaction-item {
    font-size: 14px;
  }

  .deposit-form,
  .send-form {
    width: 70%;
  }

  .deposit-form input,
  .send-form input {
    font-size: 15px;
    padding: 10px;
  }

  .deposit-form button,
  .send-form button {
    font-size: 15px;
    padding: 10px 15px;
  }
}

/* Media Query for large devices (desktops, > 992px) */
@media (min-width: 992px) {
  .transaction-content-container {
    padding: 20px;
  }

  .transaction-header {
    flex-direction: row;
    align-items: center;
  }

  .transaction-buttons button {
    margin-left: 10px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .transaction-list .transaction-item {
    font-size: 15px;
  }

  .deposit-form,
  .send-form {
    width: 400px;
  }

  .deposit-form input,
  .send-form input {
    font-size: 16px;
    padding: 10px;
  }

  .deposit-form button,
  .send-form button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
