/* Transaction List Styles */
.transaction-list {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 800px;
}

.transaction-list li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-list li span {
  font-weight: bold;
}

.transaction-list li span.credit {
  color: green;
}

.transaction-list li span.debit {
  color: red;
}
