.content-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.user-welcome {
  font-size: 1.9rem;
  color: #112D4E;
}

.details-span {
  color: #3F72AF;
  position: relative; 
  cursor: pointer; 
}
.details-span::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #3F72AF;
  transition: width 0.3s ease-in-out; 
}

.details-span:hover::after {
  width: 100%; 
}

.user-balance {
  font-size: 1.4rem;
  color: #112D4E;
}

.split-container-content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.content-table {
  width: 50%;
  box-sizing: border-box;
}

.side-image-container {
  width: 50%;
  height: 70vh;  /* Adjusted height */
  background-image: url('/images/HomeImage.png');
  background-size: cover;
}



@media (max-width: 768px) {
  .split-container-content {
    flex-direction: column;
    gap: 2rem; 
  }

  .content-table {
    width: 100%;
  }

  .side-image-container {
    width: 100%;
    height: 200px; 
  }
}
