body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F9F7F7;  /* Lightest background color */
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #F9F7F7;  /* Lightest background color */
}

.right-section {
  width: 10%;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BBE1FA;  /* Updated light blue */
}

.center-section {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.center-section::-webkit-scrollbar {
  display: none;
}

.center-section {
  scrollbar-width: none;
}

.navbar {
  background-color: #0F4C75;  /* Updated deep blue */
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.nav-item {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #BBE1FA;  /* Updated light blue */
}

.container-box-center {
  background-color: #0F4C75;  /* Updated deep blue */
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  height: 90vh;
  color: white;
}

.container-box-right {
  background-color: #0F4C75;  /* Updated deep blue */
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  height: 200vh;
  color: #F9F7F7;  /* Lightest background color */
}

.container-box-right-profile {
  background-color: #0F4C75;  /* Updated deep blue */
  border-radius: 10px;
  height: 10vh;
  width: 100%;
  color: #F9F7F7;  /* Lightest background color */
}

.bulletin {
  background-color: #f1c40f;  /* Yellow */
  color: #f30303;  /* Red */
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.bulletin h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.marquee span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.button-big-1 {
  background-color: #0F4C75;  /* Updated deep blue */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
  width: 100px;
}

.button-big-1:hover {
  background-color: #1B262C;  /* Updated dark blue */
}
